.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 600px;
  padding-top: 1em;
  padding-bottom: 4em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1 {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  font-size: 1.8em;
}
.masthead h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 2em;
}

.ui.vertical.stripe {
  padding: 4em 0;
}
.ui.vertical.stripe h3 {
  font-size: 1.5em;
  font-weight: bold;
}
.ui.vertical.stripe p {
  font-size: 1.3em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1 {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 1.5em;
    font-size: 1.5em;
  }
}

dl {
    font-size: 1.5em;
}

dt {
    font-weight: bold;
}

.ui.table {
    font-size: 1.1em;
}

.footer p {
    font-size: 1.2em;
}
