---
layout: base
title: Home
---

<div class="ui large top fixed hidden menu">
    <div class="ui container">
        {% include menu.html %}
    </div>
</div>
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div id="dark-menu" class="ui large secondary inverted pointing stackable menu">
                {% include menu.html inverted=1 %}
            </div>
        </div>
        <div class="ui text container">
            <h1>
                The Fifth Annual David Foster Wallace Conference
            </h1>
            <img class="ui centered image" src="/img/logo.png" />
            <h2>
                Illinois State University
                <br />
                June 7-9, 2018
            </h2>
            <div class="ui large button">
                Submit a proposal
            </div>
            <a class="ui large red button"
               href="https://about.illinoisstate.edu/dfw/Pages/Registration.aspx">
                Register
            </a>
        </div>
    </div>
    <div class="ui vertical stripe center aligned segment">
        <div class="ui text container">
            <p>
                Contemporary literature and culture, with an emphasis on David Foster Wallace.
            </p>
            <p>
                See content from previous years:
            </p>
            <a class="ui large grey button" href="/DFW17">
                DFW17
            </a>
            <a class="ui large grey button" href="/DFW16">
                DFW16
            </a>
            <a class="ui large grey button" href="/DFW15">
                DFW15
            </a>
            <a class="ui large grey button" href="/DFW14">
                DFW14
            </a>
        </div>
    </div>
    <div class="ui vertical stripe center aligned segment">
        <div class="ui text container">
            <h2>
                Call for papers
            </h2>
            <p>
                The 2018 call for papers is now live!
            </p>
            <p>
                The conference invites both critical scholarship
                and creative writing.  Papers and panels should
                focus on literary works published since the 1950s
                and/or in the works of David Foster Wallace.
                Creative writing proposals in all genres are
                welcome.
            </p>
            <a href="/cfp" class="ui huge red button">
                View the call for papers
            </a>
        </div>
    </div>
    <div class="ui vertical stripe center aligned segment">
        <div class="ui text container">
            <h2 class="ui header">
                Deadlines
            </h2>
            <table class="ui celled padded center aligned table">
                <tr>
                    <td>Proposals due</td>
                    <td>Early registration closes</td>
                    <td>Late registration closes</td>
                </tr>
                <tr>
                    <td><h3>Dec 11, 2017</h3></td>
                    <td><h3>Apr 30, 2018</h3></td>
                    <td><h3>May 30, 2018</h3></td>
                </tr>
            </table>
            <p>
                <strong>All presenters</strong> must register by April 30th to be
                included in the schedule.
            </p>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h2>Registration fees</h2>
            <p>
                In recognition of differing financial situations, we
                offer different registration tiers. It typically costs
                $70 per person to cover catering, classroom
                reservations, and speaker fees&mdash;the higher fees paid
                by full-time faculty help subsidize student
                attendees.
            </p>
            <table class="ui celled padded table">
                <thead>
                    <tr>
                        <th class="nine wide">
                            Type of registration
                        </th>
                        <th class="four wide">Early (April 30)</th>
                        <th class="three wide">Late (May 30)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong>Faculty + Sponsorship</strong>
                            <br />
                            <em>This will allow us to waive
                            registration fees for a student
                            presenter in financial need. In 2017,
                            we were able to award waivers to seven
                            presenters.</em>
                        </td>
                        <td>$150</td>
                        <td>$150</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Faculty / Full-time employment</strong>
                        </td>
                        <td>$100</td>
                        <td>$120</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Students / Part-time
                            employment</strong>
                        </td>
                        <td>$75</td>
                        <td>$90</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Students in financial need
                            </strong>
                        </td>
                        <td>$40</td>
                        <td>$50</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Table at the book fair
                            </strong>
                            <br />
                            In addition to individual registration.
                        </td>
                        <td>$50</td>
                        <td>$60</td>
                    </tr>
                </tbody>
            </table>
            <div class="ui center aligned basic segment">
                <a class="ui huge red button"
                   href="https://about.illinoisstate.edu/dfw/Pages/Registration.aspx">
                    Register
                </a>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe center aligned segment">
        <div class="ui text container">
            <p>
                Want to join an international community of scholars?
                Looking for opportunities to publish in a peer-reviewed
                journal of DFW Studies? Join
                <strong><a href="https://www.dfwsociety.org/">The International
                David Foster Wallace Society</strong></a>
                today!
            </p>
            <a href="https://www.dfwsociety.org/">
                <img class="ui centered image" src="/img/dfwsociety.png" />
            </a>
        </div>
    </div>
</div>
