<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            <div class="two wide column">
                <h2 class="ui inverted header">
                    2018
                </h2>
                <div class="ui inverted link list">
                    <a class="item" href="/about">About</a>
                    <a class="item" href="/cfp">Call for papers</a>
                    <a class="item" href="/venue">Venue</a>
                    <a class="item" href="/schedule">Schedule</a>
                </div>
            </div>
            <div class="two wide column">
                <h2 class="ui inverted header">
                    Past
                </h2>
                <div class="ui inverted link list">
                    <a class="item" href="/DFW17">DFW17</a>
                    <a class="item" href="/DFW16">DFW16</a>
                    <a class="item" href="/DFW15">DFW15</a>
                    <a class="item" href="/DFW14">DFW14</a>
                </div>
            </div>
            <div class="eight wide column">
                <h2 class="ui inverted header">
                    This website is open source!
                </h2>
                <p>
                    This website is developed by <a
                    href="https://twitter.com/dellsystem">@dellsystem</a> and made
                    available under an MIT license on <a
                    href="https://github.com/dellsystem/david-foster-wallace-conference">Github</a>.
                    Feel free to suggest improvements!<br />
                    You can still view the old website at
                    <a href="http://wallaceconference.blogspot.com">
                    wallaceconference.blogspot.com</a>.
                </p>
            </div>
            <div class="four wide right aligned column">
                <h2 class="ui inverted header">
                    Contact
                </h2>
                <a class="ui huge circular twitter icon button"
                   href="https://twitter.com/dfwconference">
                    <i class="inverted twitter icon"></i>
                </a>
                <a class="ui huge circular facebook icon button"
                   href="https://www.facebook.com/DFWConference/">
                    <i class="inverted facebook icon"></i>
                </a>
                <a class="ui huge circular red icon button"
                   href="mailto:dfwconference@gmail.com">
                    <i class="mail icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

