<a class="{% if page.title == 'Home'%}active{% endif %} item" href="/">Home</a>
<a class="{% if page.title == 'About'%}active{% endif %} item" href="/about">About</a>
<a class="{% if page.title == 'Venue'%}active{% endif %} item" href="/venue">Venue</a>
<a class="item" href="/schedule">Schedule</a>
<div class="ui dropdown item">
    Past years
    <i class="dropdown icon"></i>
    <div class="ui stackable menu">
        <a class="item" href="/2017">2017</a>
        <a class="item" href="/2016">2016</a>
        <a class="item" href="/2015">2015</a>
        <a class="item" href="/2014">2014</a>
    </div>
</div>
<div class="right item">
    <a class="ui {% if include.inverted %}inverted{% endif %} button" href="/cfp">Submit proposal</a>
    <a class="ui {% if include.inverted %}inverted{% endif %} red button"
       href="https://about.illinoisstate.edu/dfw/Pages/Registration.aspx">
        Register
    </a>
</div>
