<a class="{% if page.title == 'Home'%}active{% endif %} item" href="/">Home</a>
<a class="{% if page.title == 'About'%}active{% endif %} item" href="/about">About</a>
<a class="{% if page.title == 'Venue'%}active{% endif %} item" href="/venue">Venue</a>
<a class="{% if page.title == 'Schedule'%}active{% endif %} item" href="/schedule">Schedule</a>
<div class="ui dropdown item">
    Past years
    <i class="dropdown icon"></i>
    <div class="ui stackable menu">
        <a class="item" href="/DFW17">DFW17</a>
        <a class="item" href="/DFW16">DFW16</a>
        <a class="item" href="/DFW15">DFW15</a>
        <a class="item" href="/DFW14">DFW14</a>
    </div>
</div>
<div class="right item">
    <a class="ui {% if include.inverted %}inverted{% endif %} button"
       href="https://dfw.12writing.com/p/submissions.html">Submit a proposal for DFW19</a>
    <a class="ui {% if include.inverted %}inverted{% endif %} red button"
       href="https://dfw.12writing.com/">
        Register
    </a>
</div>
