<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DFW18 :: {{ page.title }}</title>
    <link href="http://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/semantic.material.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css?1" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/img/favicon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon-180x180.png">
    <meta property="og:title" content="The Fifth Annual David Foster Wallace Conference">
    <meta property="og:description" content="{{ page.title }}">
    <meta property="og:image" content="{{ site.site }}/img/coverphoto.png">
    <meta property="og:url" content="{{ site.site }}{{ page.url }}">
</head>

<body>
    {{ content }}
    {% include footer.html %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script type="text/javascript">
    $('.ui.dropdown').dropdown();
    $('#top-menu').visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        }
    );
    </script>
</body>
</html>
