---
layout: base
---

<div class="ui large top fixed menu">
    <div class="ui container">
        <a class="item" href="/">
            <img src="/img/dfw18.png" class="ui image" />
        </a>
        {% include menu.html %}
    </div>
</div>
<div class="pusher">
    <div id="top-menu-segment" class="ui vertical center aligned segment">
        <div class="ui container">
            <div id="top-menu" class="ui large secondary stackable menu">
                <a class="item" href="/">
                    <img src="/img/dfw18.png" class="ui image" />
                </a>
                {% include menu.html %}
            </div>
        </div>
    </div>
    <div class="ui title segment">
        <div class="ui container">
            <h1 class="ui header">
                {{ page.title }}
                <div class="sub header">
                    {{ page.subtitle }}
                </div>
            </h1>
        </div>
    </div>
    <div class="ui {% if page.centered %} center aligned{% endif %} vertical segment">
        <div class="ui container" id="content">
            {{ content }}
        </div>
    </div>
</div>
